body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d9f3f384;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: white;

}
.logo {
    font-size: 20px;
    font-weight: bold;
}


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    gap: 20px;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    align-items: center;
    
}
.hero-text{
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    color: #2b2b2b;
    font-weight: bold;
    
}
.hero-text p{
    font-size: 18px;
    color: gray;

}
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-container img {
    width: 400px;
    border-radius: 50%;
}
.image-container img {
    width: 700px;
    width: 700px;
    height: auto;
    position: relative;
}

.image-section img {
    width: 300px;
    height: auto;
    position: relative;
}



.btn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}
.menu {
    text-align: center;
    padding: 50px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding:20px;
   
} 

.item {
    
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

}
.item img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover; 
}

.item {
    width: 100%; 
    height: auto;
    object-fit: cover;
}
.item h3 {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item p {
    color: gray;
}
.gallery {
    padding: 50px;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gallery-grid {
    
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

}
.gallery-grid img {
    width: 100%; 
    border-radius: 10px;
    height: 200px;
    object-fit: cover; 
}
.gallery-grid h3 {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery p {
    color: gray;
}
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}
.contact h3{
    color: #2d5635;
} 
.info-card{
    background: white;
    border-radius: 50px;
    height: 150px;
}
.footer {
    text-align: center;
    padding: 20px;
    border: radius 50px;
    background: #51e392;
    color: white;
}
@media (max-width: 768px) {
    .hero,
    .about,
    .menu-items,
    .gallery-grid,
    .contact {
        grid-template-columns: 1fr;
    }
}